{{ define "setparam" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "head" }}
    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            {{ template "header" }}

            <p><a href="{{ . }}" target="_blank">Go to the following link in your browser then type the authorization code</a></p>

            <form action="/savecode">
                <div class="form-group">
                    <label for="inputCode">Authorization code</label>
                    <input type="text" class="form-control" id="inputcode" name="inputcode" placeholder="Enter authorization code">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


            
            {{ template "footer" }}
        </div>
    </body>
</html>
{{ end }}
